{% extends "base.html" %}
{% block body %}
	<h1 style="text-align: center; padding-top: 10%;">{{ title }}</h1>
	<form action="" method="post" novalidate style="text-align: center; font-size: 32px;" autocomplete="on">
		{{ form.hidden_tag() }}
		<p style="padding-top: 10%;">
			{{ form.message.label }}<br>
			{{ form.message(size=20) }}
		</p>
		<p>{{ form.message_submit() }}</p>
		<div class="soundboard">
		<p style="padding-top: 10%;">Sound Board</p>
		{% for field in form: %}
		{% if field.name.startswith('sound_'): %}
		{{ field() }}
		{% endif %}
		{% endfor %}
		</div>
	</form>
{% endblock %}
